# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/
.env
.env.*
!.env.example

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Local overrides
checks.local.yml
checks.yml

# Local data
data/
